body {
    font-family: 'Courier', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
}

/*вся вёрстка делается через классы,*/
/*сейчас это будет первое место для рефакторинга, если у тебя появится хотя бы*/
/*ещё одна картинка на сайте, т.е. нельзя всем всем картинкам иметь такие стили,
в данном случае это .photo или .avatar*/
img {
    margin-top: 85px;
    width: 350px;
    height: 350px;
    border-radius: 100px;
    box-shadow: 3px 3px 15px 10px #ea4343;
}

.box {
    display: flex;
    /*это позиционирование ни на что не влияет, попробуй проверить удалить*/
    margin: auto;
    margin-bottom: 2px;
}

.title-box {
    width: 30%;
    background-color: #c97be8;
    margin-right: 30px;
}

.descripion-box {
    width: 70%;
    margin-bottom: 5px;
}

/*здесь и далее вижу вёрстку по тегам, выше для img я написал в чем будет проблема*/
/*при усложнении сайта*/

p {
    line-height: 1.5em;
}

h1 {
    align-content: center;
    font-weight: 600;
    font-size: 32px;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #74319b;
    /*три строки выше можно через*/
    /*border: 5px solid #74319b;*/
    margin-bottom: -20px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
}

#header h2 {
    align-content: center;
    color: #3d3d3d;
    margin-bottom: 30px;
}

.title-box h2 {
    text-align: right;
    font-weight: 400;

    /*чуть корректнее будет сделать .title-box {padding-right: 20px},*/
    /*потому что любой контент который попадёт внутрь .title-box должен иметь такой внутренний отступ справа*/
    margin-right: 20px;
}

.company-name {
    font-weight: 600;
    /*до этого я видел hex формат у тебя, для вёрстки его и стоит использовать, rgb почти никогда не используется,*/
    /*это всегда исключения*/
    color: rgb(240, 128, 197);
    margin-bottom: -15px;
}

.descripion-box p {
    /*отрицательные маргины (выше тоже есть) являются хаком, его
    бывает необходимо применить, но почти всегда можно переписать лучше*/
    margin-bottom: -10px;
}

#header {
    margin-bottom: 10px;
}



ul {
    margin-bottom: 10px;
}
